server {
    # if no Host match, close the connection to prevent host spoofing
    listen 80 default_server;
    return 444;
}

server {
    server_name example.com www.example.com;

    access_log /var/log/nginx/access.log;
    error_log  /var/log/nginx/error.log;

    client_max_body_size 300M;

    # эти юрлы буду передаватся на бекенд
    location ~ ^/(api|admin|static)/? {
        include proxy_params;
        proxy_pass http://backend:8000;
    }

    location / {
        # сервим статики фронтенда
        root /usr/share/nginx/html/;
        index index.html;
        try_files $uri $uri/ /index.html;
    }

    # это все для SSL
    # если ну нужно то можно выкинуть и поставить тут 80й порт:
    # listen 80;
    # и следующий сервер-блок удалить
    # managed by Certbot
    listen 443 ssl; # managed by Certbot
    ssl_certificate /etc/letsencrypt/live/example.com/fullchain.pem; # managed by Certbot
    ssl_certificate_key /etc/letsencrypt/live/example.com /privkey.pem; # managed by Certbot
    include /etc/letsencrypt/options-ssl-nginx.conf; # managed by Certbot
    ssl_dhparam /etc/letsencrypt/ssl-dhparams.pem; # managed by Certbot
}

server {
    if ($host = www.example.com) {
        return 301 https://$host$request_uri;
    } # managed by Certbot

    if ($host = example.com) {
        return 301 https://$host$request_uri;
    } # managed by Certbot

    server_name example.com  www.example.com ;
    listen 80;
    return 404; # managed by Certbot
}
